# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Hatch / Build
dist/
build/
*.egg-info/
*.egg

# Editors
.idea/
.vscode/
*.swp
